.reset-password-container-title {
    margin-top: 8rem;
}

.reset-password-container-subtitle {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.resetButton {
    border: 0px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(219, 68, 68);
    color: white;
    margin-bottom: 30px;
    border-radius: 0px 5px 5px 0px;
    margin-left: -1px;
}

.reset-password-container-inputField {
    border: none;
    background: rgb(245,245,245);
    padding: 10px;
    outline: none;
    margin-top: 2rem;
}